<html>
<head>
    <title>== Salary ==</title>
    <script type="text/javascript" src="/plugins/jquery-easyui-1.11.4/jquery.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery-easyui-1.11.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/scripts/app-plugin.js"></script>
    <script type="text/javascript" src="/scripts/date.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugins/jquery-easyui-1.11.4/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/plugins/jquery-easyui-1.11.4/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/default/transaction/TransactionBill.css">
    <script type="text/javascript">var app_url = '';</script>
    <script type="text/javascript" src="/plugins/jquery-easyui-1.11.4/datagrid-groupview.js"></script>
    <script type="text/javascript" src="/datasource/endowment-datasource.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height: 32px">
        <div style="margin-top: 3px;" class="toolbar">
            <span class="item_intervel">
                <label>Transaction date:</label>
                <input id="dateStart" class="easyui-datebox" style="width: 100px;" data-options="onSelect:searchSalaries"/>
                ~
                <input id="dateEnd" class="easyui-datebox" style="width: 100px;" data-options="onSelect:searchSalaries"/>
            </span>

            <span class="item_intervel">
                <label>Unit Name：</label>
                <input id="cmbUnitName" class="easyui-combobox"
                       data-options="data:endowment_datasource.units,valueField:'id',textField:'text',editable:false,onSelect:searchSalaries"
                       style="width: 250px;">
            </span>

            <span class="item_intervel">
                <input id="txtDemo" class="easyui-textbox" style="width:120px">
            </span>

            <span class="item_intervel">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="searchSalaries()">Search</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="">Export</a>
            </span>
        </div>
    </div>

    <div data-options="region:'center',border:false">
        <table id="datagrid" fit="true"
               data-options="rownumbers:true,singleSelect:true,pagination:true,pageSize:50">
            <thead>
            <tr>
                <th data-options="field:'id',hidden:true">ID</th>
                <th data-options="field:'bankCardName',width:160">Card Name</th>
                <th data-options="field:'bookKeepingDate',width:90,align:'center',formatter:app.date.format">Bookkeeping Date</th>
                <th data-options="field:'transactionDesc',width:250,align:'left'">Narration</th>
                <th data-options="field:'balanceCurrency',width:80,align:'center'">Currency</th>
                <th data-options="field:'incomeMoney',width:100,align:'right',formatter:app.money.rmb">Income</th>
                <th data-options="field:'demoArea',width:420,align:'left',editor:{type:'textbox'}">Remarks</th>
            </tr>
            </thead>
        </table>
    </div>
    
<script type="text/javascript">
var datagrid = '#datagrid';
var query_url = app_url + '/salary/getSalarys';
$(function() {
    $(datagrid).datagrid({
        method:'post',
        url: query_url,
        groupField:'year',
        view: groupview,
        groupFormatter:function(value, rows){
            if(rows != null && rows.length > 0){
                var balanceMoneys = 0;
                for(var i=0;i<rows.length;i++){
                    balanceMoneys += parseFloat(rows[i].balanceMoney);
                }
            }
            var space = "&nbsp;&nbsp;&nbsp;";
            return space + "Total Pay:" + Math.round(balanceMoneys) + space + rows.length + "Item(s)";
        },
        singleSelect:true
    });
});

function searchSalaries() {
    var dateStart = '';
    var dateEnd = '';
    var demoArea = '';

    // Check if components are initialized before accessing them
    if ($('#dateStart').data('datebox')) {
        dateStart = $('#dateStart').datebox('getValue');
    }
    if ($('#dateEnd').data('datebox')) {
        dateEnd = $('#dateEnd').datebox('getValue');
    }
    if ($('#txtDemo').data('textbox')) {
        demoArea = $('#txtDemo').textbox('getValue');
    }

    // Ensure datagrid is initialized before calling 'load'
    if ($(datagrid).data('datagrid')) {
        $(datagrid).datagrid('load', {
            transactionDateStartStr: dateStart,
            transactionDateEndStr: dateEnd,
            demoArea: demoArea
        });
    }
}
</script>

</body>
</html>
