<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finsight.infrastructure.mapper.MedicalMapper">

    <insert id="addMedical" parameterType="com.finsight.domain.model.Medical">
        insert into ben_contribution
        (version, created_by, updated_by, id, benefit_type, unit_no, unit_name, period_label,
         pay_base, personal_pay, unit_pay, total_pay, personal_reserved, memo)
        values
        (#{version,jdbcType=NUMERIC},
         #{createuser,jdbcType=VARCHAR},
         #{updateuser,jdbcType=VARCHAR},
         #{id,jdbcType=VARCHAR},
         'MEDICAL',
         #{unitNo,jdbcType=VARCHAR},
         #{unitName,jdbcType=VARCHAR},
         #{time,jdbcType=VARCHAR},
         #{payBase,jdbcType=NUMERIC},
         #{personalPay,jdbcType=NUMERIC},
         #{unitPay,jdbcType=NUMERIC},
         #{totalPay,jdbcType=NUMERIC},
         #{personalReserved,jdbcType=NUMERIC},
         #{demoArea,jdbcType=VARCHAR})
    </insert>

    <update id="updateMedical" parameterType="com.finsight.domain.model.Medical">
        update ben_contribution
        set version = version + 1,
        <if test="updateuser != null">
            updated_by = #{updateuser,jdbcType=VARCHAR},
        </if>
        <if test="unitNo != null">
            unit_no = #{unitNo,jdbcType=VARCHAR},
        </if>
        <if test="unitName != null">
            unit_name = #{unitName,jdbcType=VARCHAR},
        </if>
        <if test="time != null">
            period_label = #{time,jdbcType=VARCHAR},
        </if>
        <if test="payBase != null">
            pay_base = #{payBase,jdbcType=NUMERIC},
        </if>
        <if test="personalPay != null">
            personal_pay = #{personalPay,jdbcType=NUMERIC},
        </if>
        <if test="unitPay != null">
            unit_pay = #{unitPay,jdbcType=NUMERIC},
        </if>
        <if test="totalPay != null">
            total_pay = #{totalPay,jdbcType=NUMERIC},
        </if>
        <if test="personalReserved != null">
            personal_reserved = #{personalReserved,jdbcType=NUMERIC},
        </if>
        <if test="demoArea != null">
            memo = #{demoArea,jdbcType=VARCHAR},
        </if>
        updated_at = NOW()
        where id = #{id,jdbcType=VARCHAR} and benefit_type = 'MEDICAL'
    </update>

    <delete id="deleteMedical" parameterType="java.lang.String">
        delete from ben_contribution where id = #{id,jdbcType=VARCHAR} and benefit_type = 'MEDICAL'
    </delete>

    <resultMap type="com.finsight.domain.model.Medical" id="baseMedicalsResultMap">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="unit_no" property="unitNo" jdbcType="VARCHAR"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="period_label" property="time" jdbcType="VARCHAR"/>
        <result column="pay_base" property="payBase" jdbcType="NUMERIC"/>
        <result column="personal_pay" property="personalPay" jdbcType="NUMERIC"/>
        <result column="unit_pay" property="unitPay" jdbcType="NUMERIC"/>
        <result column="total_pay" property="totalPay" jdbcType="NUMERIC"/>
        <result column="personal_reserved" property="personalReserved" jdbcType="NUMERIC"/>
        <result column="memo" property="demoArea" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getMedicals" resultMap="baseMedicalsResultMap">
        select id, unit_no, unit_name, period_label, pay_base, personal_pay, unit_pay, total_pay, personal_reserved, memo
        from ben_contribution
        where benefit_type = 'MEDICAL'
        <if test="medical != null and medical.createdBy != null and medical.createdBy != ''">
            and created_by = #{medical.createdBy,jdbcType=VARCHAR}
        </if>
        <if test="medical != null">
            <if test="medical.timeFrom != null and medical.timeFrom != ''">
                and period_label &gt;= #{medical.timeFrom}
            </if>
            <if test="medical.timeTo != null and medical.timeTo != ''">
                and period_label &lt;= #{medical.timeTo}
            </if>
            <if test="medical.unitNo != null and medical.unitNo != ''">
                and unit_no = #{medical.unitNo}
            </if>
            <if test="medical.demoArea != null and medical.demoArea != ''">
                and memo like concat('%', #{medical.demoArea}, '%')
            </if>
        </if>
        order by period_label desc
        limit #{page.recordBegin}, #{page.pageSize}
    </select>

    <select id="countMedicals" resultType="java.lang.Integer">
        select count(id) from ben_contribution
        where benefit_type = 'MEDICAL'
        <if test="medical != null and medical.createdBy != null and medical.createdBy != ''">
            and created_by = #{medical.createdBy,jdbcType=VARCHAR}
        </if>
        <if test="medical != null">
            <if test="medical.timeFrom != null and medical.timeFrom != ''">
                and period_label &gt;= #{medical.timeFrom}
            </if>
            <if test="medical.timeTo != null and medical.timeTo != ''">
                and period_label &lt;= #{medical.timeTo}
            </if>
            <if test="medical.unitNo != null and medical.unitNo != ''">
                and unit_no = #{medical.unitNo}
            </if>
            <if test="medical.demoArea != null and medical.demoArea != ''">
                and memo like concat('%', #{medical.demoArea}, '%')
            </if>
        </if>
    </select>
</mapper>
