<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finsight.infrastructure.mapper.TransactionMapper">

    <insert id="addTransactionList">
        insert into transaction
        (createuser,
        updateuser,
        id,
        card_id,
        bank_card_id,
        bank_card_name,
        transaction_date,
        bookkeeping_date,
        transaction_desc,
        balance_currency,
        balance_money,
        card_type_id,
        card_type_name,
        consumption_type,
        consume_id,
        consume_code,
        consume_name,
        demoarea,
        recordid,
        income_money,
        opponent_account,
        opponent_name,
        transaction_time,
        account_balance)
        <foreach collection="transactions" item="transaction" index="index" separator="union">
            select
            #{transaction.createuser,jdbcType=VARCHAR},
            #{transaction.updateuser,jdbcType=VARCHAR},
            #{transaction.id,jdbcType=VARCHAR},
            #{transaction.cardId,jdbcType=VARCHAR},
            #{transaction.bankCardId,jdbcType=VARCHAR},
            #{transaction.bankCardName,jdbcType=VARCHAR},
            #{transaction.transactionDate,jdbcType=DATE},
            #{transaction.bookKeepingDate,jdbcType=DATE},
            #{transaction.transactionDesc,jdbcType=VARCHAR},
            #{transaction.balanceCurrency,jdbcType=VARCHAR},
            #{transaction.balanceMoney,jdbcType=NUMERIC},
            #{transaction.cardTypeId,jdbcType=NUMERIC},
            #{transaction.cardTypeName,jdbcType=VARCHAR},
            #{transaction.consumptionType,jdbcType=NUMERIC},
            #{transaction.consumeID,jdbcType=VARCHAR},
            #{transaction.consumeCode,jdbcType=VARCHAR},
            #{transaction.consumeName,jdbcType=VARCHAR},
            #{transaction.demoArea,jdbcType=VARCHAR},
            #{transaction.recordID,jdbcType=VARCHAR},
            #{transaction.incomeMoney,jdbcType=NUMERIC},
            #{transaction.opponentAccount,jdbcType=VARCHAR},
            #{transaction.opponentName,jdbcType=VARCHAR},
            #{transaction.transactionTime,jdbcType=VARCHAR},
            #{transaction.accountBalance,jdbcType=NUMERIC}
            from dual
        </foreach>
    </insert>

    <update id="updateTransaction" parameterType="com.finsight.domain.model.Transaction">
        update transaction
        set version = version+1,
        <if test="updateUser != null">
            updateuser = #{updateUser,jdbcType=VARCHAR},
        </if>
        <if test="consumptionType != null">
            consumption_type = #{consumptionType,jdbcType=NUMERIC},
        </if>
        <if test="consumeID != null">
            consume_id = #{consumeID,jdbcType=VARCHAR},
        </if>
        <if test="consumeCode != null">
            consume_code = #{consumeCode,jdbcType=VARCHAR},
        </if>
        <if test="consumeName != null">
            consume_name = #{consumeName,jdbcType=VARCHAR},
        </if>
        <if test="demoArea != null">
            demoarea = #{demoArea,jdbcType=VARCHAR},
        </if>
        updatetime = current_timestamp
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="incomeToExpense">
        update transaction
        set version = version+1,
        <if test="updateUser != null">
            updateuser = #{updateUser,jdbcType=VARCHAR},
        </if>
        balance_money =
        (
        case
        when balance_money is null then 0
        when balance_money &lt; 0 then abs(balance_money)
        else balance_money
        end
        )
        +
        (
        case
        when income_money is null then 0
        else income_money
        end
        ),
        income_money = 0,
        updatetime = current_timestamp
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
        and (
        (income_money is not null and income_money != 0)
        or (balance_money is not null and balance_money &lt; 0)
        )
    </update>

    <update id="expenseToIncome">
        update transaction
        set version = version+1,
        <if test="updateUser != null">
            updateuser = #{updateUser,jdbcType=VARCHAR},
        </if>
        income_money = balance_money,
        balance_money = 0,
        updatetime = current_timestamp
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=VARCHAR}
        </foreach>
        and balance_money is not null
        and balance_money &gt; 0
        and (income_money is null or income_money = 0)
    </update>

    <delete id="deleteTransaction" parameterType="java.lang.String">
        delete from transaction where id = #{id,jdbcType=VARCHAR}
    </delete>

    <resultMap type="com.finsight.domain.model.Transaction" id="baseTransactionResultMap">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="card_id" property="cardId" jdbcType="VARCHAR"/>
        <result column="bank_card_id" property="bankCardId" jdbcType="VARCHAR"/>
        <result column="bank_card_name" property="bankCardName" jdbcType="VARCHAR"/>
        <result column="transaction_date" property="transactionDate" jdbcType="DATE"/>
        <result column="bookkeeping_date" property="bookKeepingDate" jdbcType="DATE"/>
        <result column="transaction_desc" property="transactionDesc" jdbcType="VARCHAR"/>
        <result column="balance_currency" property="balanceCurrency" jdbcType="VARCHAR"/>
        <result column="balance_money" property="balanceMoney" jdbcType="NUMERIC"/>
        <result column="card_type_id" property="cardTypeId" jdbcType="NUMERIC"/>
        <result column="card_type_name" property="cardTypeName" jdbcType="VARCHAR"/>
        <result column="consumption_type" property="consumptionType" jdbcType="NUMERIC"/>
        <result column="consume_id" property="consumeID" jdbcType="VARCHAR"/>
        <result column="consume_code" property="consumeCode" jdbcType="VARCHAR"/>
        <result column="consume_name" property="consumeName" jdbcType="VARCHAR"/>
        <result column="demoarea" property="demoArea" jdbcType="VARCHAR"/>
        <result column="income_money" property="incomeMoney" jdbcType="NUMERIC"/>
        <result column="opponent_account" property="opponentAccount" jdbcType="VARCHAR"/>
        <result column="opponent_name" property="opponentName" jdbcType="VARCHAR"/>
        <result column="transaction_time" property="transactionTime" jdbcType="VARCHAR"/>
        <result column="account_balance" property="accountBalance" jdbcType="NUMERIC"/>
    </resultMap>

    <select id="getTransactions" resultMap="baseTransactionResultMap">
        select * from (
        select
        t.id,
        t.card_id,
        t.bank_card_id,
        t.bank_card_name,
        t.transaction_date,
        t.bookkeeping_date,
        t.transaction_desc,
        t.balance_currency,
        t.balance_money,
        t.card_type_id,
        t.card_type_name,
        t.consumption_type,
        t.consume_id,
        t.consume_code,
        t.consume_name,
        t.demoarea,
        t.recordid,
        t.income_money,
        t.opponent_account,
        t.opponent_name,
        t.transaction_time,
        t.account_balance
        from transaction t
        left join consume_category cat on cat.code = t.consume_code and cat.deleted != 1
        where 1 = 1
        <if test="q != null">
            <if test="q.txnTypes != null and q.txnTypes != ''">
                and cat.txn_types like CONCAT('%', #{q.txnTypes,jdbcType=VARCHAR}, '%')
            </if>
            <if test="q.transactionDateStart != null">
                and t.transaction_date &gt;= #{q.transactionDateStart,jdbcType=DATE}
            </if>
            <if test="q.transactionDateEnd != null">
                and t.transaction_date &lt;= #{q.transactionDateEnd,jdbcType=DATE}
            </if>
            <if test="q.consumptionType != null">
                and t.consumption_type = #{q.consumptionType,jdbcType=NUMERIC}
            </if>
            <if test="q.bankCardId != null">
                and t.bank_card_id = #{q.bankCardId,jdbcType=VARCHAR}
            </if>
            <if test="q.cardTypeName != null">
                and t.card_type_name = #{q.cardTypeName,jdbcType=VARCHAR}
            </if>
            <if test="q.consumeID != null">
                and t.consume_id = #{q.consumeID,jdbcType=VARCHAR}
            </if>
            <if test="q.consumeCode != null">
                and t.consume_code = #{q.consumeCode,jdbcType=VARCHAR}
            </if>
            <if test="q.consumes != null">
                and t.consume_code in
                <foreach collection="q.consumes" item="consumeID" open="(" separator="," close=")">
                    #{consumeID,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="q.emptyConsume != null and q.emptyConsume == true">
                and (t.consume_name is null or length(trim(t.consume_name)) = 0 or t.consume_code is null or length(trim(t.consume_code)) = 0)
            </if>
            <if test="q.consumeName != null">
                and t.consume_name = #{q.consumeName,jdbcType=VARCHAR}
            </if>
            <if test="q.demoArea != null">
                and (
                    t.demoarea like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                    or t.transaction_desc like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                )
            </if>
            <if test="q.weekName != null">
                and weekday(t.bookkeeping_date) = #{q.weekName,jdbcType=VARCHAR}
            </if>
            <if test="q.year != null">
                and year(t.transaction_date) = #{q.year,jdbcType=VARCHAR}
            </if>
            <if test="q.month != null">
                and month(t.transaction_date) = #{q.month,jdbcType=VARCHAR}
            </if>
        </if>
        order by t.transaction_date desc
        ) t limit #{page.recordBegin,jdbcType=NUMERIC}, #{page.pageSize,jdbcType=NUMERIC}
    </select>

    <select id="countTransaction" resultType="java.lang.Integer">
        select count(t.id) from transaction t
        left join consume_category cat on cat.code = t.consume_code and cat.deleted != 1
        where 1 = 1
        <if test="q != null">
            <if test="q.txnTypes != null and q.txnTypes != ''">
                and cat.txn_types like CONCAT('%', #{q.txnTypes,jdbcType=VARCHAR}, '%')
            </if>
            <if test="q.transactionDateStart != null">
                and t.transaction_date &gt;= #{q.transactionDateStart,jdbcType=DATE}
            </if>
            <if test="q.transactionDateEnd != null">
                and t.transaction_date &lt;= #{q.transactionDateEnd,jdbcType=DATE}
            </if>
            <if test="q.consumptionType != null">
                and t.consumption_type = #{q.consumptionType,jdbcType=NUMERIC}
            </if>
            <if test="q.bankCardId != null">
                and t.bank_card_id = #{q.bankCardId,jdbcType=VARCHAR}
            </if>
            <if test="q.cardTypeName != null">
                and t.card_type_name = #{q.cardTypeName,jdbcType=VARCHAR}
            </if>
            <if test="q.consumeID != null">
                and t.consume_id = #{q.consumeID,jdbcType=VARCHAR}
            </if>
            <if test="q.consumeCode != null">
                and t.consume_code = #{q.consumeCode,jdbcType=VARCHAR}
            </if>
            <if test="q.consumes != null">
                and t.consume_code in
                <foreach collection="q.consumes" item="consumeID" open="(" separator="," close=")">
                    #{consumeID,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="q.emptyConsume != null and q.emptyConsume == true">
                and (t.consume_name is null or length(trim(t.consume_name)) = 0 or t.consume_code is null or length(trim(t.consume_code)) = 0)
            </if>
            <if test="q.consumeName != null">
                and t.consume_name = #{q.consumeName,jdbcType=VARCHAR}
            </if>
            <if test="q.demoArea != null">
                and (t.demoarea like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                or t.transaction_desc like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%') )
            </if>
            <if test="q.weekName != null">
                and weekday(t.bookkeeping_date) = #{q.weekName,jdbcType=VARCHAR}
            </if>
            <if test="q.year != null">
                and year(t.transaction_date) = #{q.year,jdbcType=VARCHAR}
            </if>
            <if test="q.month != null">
                and month(t.transaction_date) = #{q.month,jdbcType=VARCHAR}
            </if>
        </if>
    </select>

    <select id="consumeReport" resultType="com.finsight.domain.model.KeyValue">
        select round(abs(sum(c.balance_money))) as `value`,
        case when (isnull(c.consume_name)=1 or length(trim(c.consume_name))=0) then 'unkown' else c.consume_name end as `key`
        from transaction c
        left join consume_category cat on cat.code = c.consume_code and cat.deleted != 1
        where 1 = 1
        <if test="q != null">
            <if test="q.txnTypes != null and q.txnTypes != ''">
                and cat.txn_types like CONCAT('%', #{q.txnTypes,jdbcType=VARCHAR}, '%')
            </if>
            <if test="q.txnTypes == null or q.txnTypes == ''">
                and cat.txn_types like '%expense%'
            </if>
            <if test="q.transactionDateStart != null">
                and c.transaction_date &gt;= #{q.transactionDateStart,jdbcType=DATE}
            </if>
            <if test="q.transactionDateEnd != null">
                and c.transaction_date &lt;= #{q.transactionDateEnd,jdbcType=DATE}
            </if>
            <if test="q.cardTypeName != null">
                and c.card_type_name = #{q.cardTypeName,jdbcType=VARCHAR}
            </if>
            <if test="q.consumes != null">
                and c.consume_code in
                <foreach collection="q.consumes" item="consumeID" open="(" separator="," close=")">
                    #{consumeID,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="q.demoArea != null">
                and (c.demoarea like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                or c.transaction_desc like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%') )
            </if>
        </if>
        group by case when (isnull(c.consume_name)=1 or length(trim(c.consume_name))=0) then 'unkown' else c.consume_name end
        order by `key`
    </select>

    <select id="weekConsumeReport" resultType="com.finsight.domain.model.KeyValue">
        select round(abs(sum(balance_money))) as `value`, wday as `key` from (
        select weekday(c.bookkeeping_date) wday, c.balance_money
        from transaction c
        left join consume_category cat on cat.code = c.consume_code and cat.deleted != 1
        where 1 = 1
        <if test="q != null">
            <if test="q.txnTypes != null and q.txnTypes != ''">
                and cat.txn_types like CONCAT('%', #{q.txnTypes,jdbcType=VARCHAR}, '%')
            </if>
            <if test="q.txnTypes == null or q.txnTypes == ''">
                and cat.txn_types like '%expense%'
            </if>
            <if test="q.transactionDateStart != null">
                and c.transaction_date &gt;= #{q.transactionDateStart,jdbcType=DATE}
            </if>
            <if test="q.transactionDateEnd != null">
                and c.transaction_date &lt;= #{q.transactionDateEnd,jdbcType=DATE}
            </if>
            <if test="q.cardTypeName != null">
                and c.card_type_name = #{q.cardTypeName,jdbcType=VARCHAR}
            </if>
            <if test="q.consumes != null">
                and c.consume_code in
                <foreach collection="q.consumes" item="consumeID" open="(" separator="," close=")">
                    #{consumeID,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="q.demoArea != null">
                and (c.demoarea like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                or c.transaction_desc like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%') )
            </if>
        </if>
        ) view1
        group by wday
        order by wday
    </select>

    <select id="monthConsumeReport" resultType="com.finsight.domain.model.KeyValue">
        select round(abs(balance_money)) 'value',
        case when cmonth = 1 then 'January'
        when cmonth = 2 then 'February'
        when cmonth = 3 then 'March'
        when cmonth = 4 then 'April'
        when cmonth = 5 then 'May'
        when cmonth = 6 then 'June'
        when cmonth = 7 then 'July'
        when cmonth = 8 then 'August'
        when cmonth = 9 then 'September'
        when cmonth = 10 then 'October'
        when cmonth = 11 then 'November'
        when cmonth = 12 then 'December' else cmonth end 'key'
        from (select sum(balance_money) balance_money,cmonth
        from (select c.balance_money, month(c.transaction_date) cmonth from transaction c
        left join consume_category cat on cat.code = c.consume_code and cat.deleted != 1
        where 1 = 1
        <if test="q != null">
            <if test="q.txnTypes != null and q.txnTypes != ''">
                and cat.txn_types like CONCAT('%', #{q.txnTypes,jdbcType=VARCHAR}, '%')
            </if>
            <if test="q.txnTypes == null or q.txnTypes == ''">
                and cat.txn_types like '%expense%'
            </if>
            <if test="q.year != null">
                and year(c.transaction_date) = #{q.year,jdbcType=VARCHAR}
            </if>
            <if test="q.cardTypeName != null">
                and c.card_type_name = #{q.cardTypeName,jdbcType=VARCHAR}
            </if>
            <if test="q.consumes != null">
                and c.consume_code in
                <foreach collection="q.consumes" item="consumeID" open="(" separator="," close=")">
                    #{consumeID,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="q.demoArea != null">
                and (c.demoarea like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                or c.transaction_desc like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%') )
            </if>
        </if>
        ) t1 group by cmonth) t2 order by cmonth
    </select>

    <!-- Monthly income curve: prefers income_money, falls back to negative balance_money -->
    <select id="monthIncomeReport" resultType="com.finsight.domain.model.KeyValue">
        select round(sum(amount)) as `value`,
        case when cmonth = 1 then 'January'
        when cmonth = 2 then 'February'
        when cmonth = 3 then 'March'
        when cmonth = 4 then 'April'
        when cmonth = 5 then 'May'
        when cmonth = 6 then 'June'
        when cmonth = 7 then 'July'
        when cmonth = 8 then 'August'
        when cmonth = 9 then 'September'
        when cmonth = 10 then 'October'
        when cmonth = 11 then 'November'
        when cmonth = 12 then 'December' else cmonth end as `key`
        from (
            select
                month(c.transaction_date) as cmonth,
                case
                    when (coalesce(c.income_money,0) &gt; 0) then coalesce(c.income_money,0)
                    when (coalesce(c.balance_money,0) &lt; 0) then abs(coalesce(c.balance_money,0))
                    else 0
                end as amount
            from transaction c
            left join consume_category cat on cat.code = c.consume_code and cat.deleted != 1
            where 1 = 1
            <if test="q != null">
                <if test="q.year != null and q.year != ''">
                    and year(c.transaction_date) = #{q.year,jdbcType=VARCHAR}
                </if>
                <if test="q.transactionDateStart != null">
                    and c.transaction_date &gt;= #{q.transactionDateStart,jdbcType=DATE}
                </if>
                <if test="q.transactionDateEnd != null">
                    and c.transaction_date &lt;= #{q.transactionDateEnd,jdbcType=DATE}
                </if>
                <if test="q.cardTypeName != null and q.cardTypeName != ''">
                    and c.card_type_name = #{q.cardTypeName,jdbcType=VARCHAR}
                </if>
                <if test="q.consumes != null">
                    and c.consume_code in
                    <foreach collection="q.consumes" item="consumeID" open="(" separator="," close=")">
                        #{consumeID,jdbcType=VARCHAR}
                    </foreach>
                </if>
                <if test="q.demoArea != null and q.demoArea != ''">
                    and (c.demoarea like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                    or c.transaction_desc like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%') )
                </if>
                <!-- Income semantics: include explicit income_money OR negative balance OR income-tagged categories -->
                and (
                    coalesce(c.income_money,0) &gt; 0
                    or coalesce(c.balance_money,0) &lt; 0
                    or (cat.txn_types is not null and cat.txn_types like '%income%')
                )
            </if>
        ) t
        group by cmonth
        order by cmonth
    </select>

    <!-- Monthly expense curve: positive balance_money (classic expense) -->
    <select id="monthExpenseReport" resultType="com.finsight.domain.model.KeyValue">
        select round(sum(amount)) as `value`,
        case when cmonth = 1 then 'January'
        when cmonth = 2 then 'February'
        when cmonth = 3 then 'March'
        when cmonth = 4 then 'April'
        when cmonth = 5 then 'May'
        when cmonth = 6 then 'June'
        when cmonth = 7 then 'July'
        when cmonth = 8 then 'August'
        when cmonth = 9 then 'September'
        when cmonth = 10 then 'October'
        when cmonth = 11 then 'November'
        when cmonth = 12 then 'December' else cmonth end as `key`
        from (
            select
                month(c.transaction_date) as cmonth,
                case
                    when (coalesce(c.balance_money,0) &gt; 0) then coalesce(c.balance_money,0)
                    else 0
                end as amount
            from transaction c
            left join consume_category cat on cat.code = c.consume_code and cat.deleted != 1
            where 1 = 1
            <if test="q != null">
                <if test="q.year != null and q.year != ''">
                    and year(c.transaction_date) = #{q.year,jdbcType=VARCHAR}
                </if>
                <if test="q.transactionDateStart != null">
                    and c.transaction_date &gt;= #{q.transactionDateStart,jdbcType=DATE}
                </if>
                <if test="q.transactionDateEnd != null">
                    and c.transaction_date &lt;= #{q.transactionDateEnd,jdbcType=DATE}
                </if>
                <if test="q.cardTypeName != null and q.cardTypeName != ''">
                    and c.card_type_name = #{q.cardTypeName,jdbcType=VARCHAR}
                </if>
                <if test="q.consumes != null">
                    and c.consume_code in
                    <foreach collection="q.consumes" item="consumeID" open="(" separator="," close=")">
                        #{consumeID,jdbcType=VARCHAR}
                    </foreach>
                </if>
                <if test="q.demoArea != null and q.demoArea != ''">
                    and (c.demoarea like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%')
                    or c.transaction_desc like CONCAT('%', #{q.demoArea,jdbcType=VARCHAR}, '%') )
                </if>
                and (coalesce(c.balance_money,0) &gt; 0 or (cat.txn_types is not null and cat.txn_types like '%expense%'))
            </if>
        ) t
        group by cmonth
        order by cmonth
    </select>

    <!-- Home summary: bucketized expense by heuristics for a given year -->
    <select id="homeSummaryExpenseBuckets" resultType="com.finsight.domain.model.KeyValue">
        select round(sum(abs(t.balance_money))) as `value`, bucket as `key`
        from (
             select c.balance_money,
             case
                 when (cat.txn_types like '%invest%' or cat.parentId = 'INVEST' or cat.code like 'INVEST%') then 'investment'
                 when (cat.parentId = 'FIXED' or cat.code like 'FIXED%') then 'fixed'
                 when (cat.parentId = 'SHOPPING' or cat.code like 'SHOPPING%') then 'shopping'
                 when (cat.parentId = 'ENT' or cat.code like 'ENT%') then 'entertainment'
                 when (cat.parentId = 'EDU' or cat.code like 'EDU%') then 'edu'
                 when (cat.parentId = 'OTHER' or cat.code like 'OTHER%') then 'other'
                 when (cat.parentId = 'LIVING' or cat.code like 'LIVING%') then 'life'
                 else 'life'
             end as bucket
             from transaction c
             left join consume_category cat on cat.code = c.consume_code and cat.deleted != 1
             where 1 = 1
             and cat.txn_types like '%expense%'
             and year(c.transaction_date) = #{year,jdbcType=NUMERIC}
        ) t
        group by bucket
    </select>

    <!-- Previous year buckets for growth comparison -->
    <select id="homeSummaryExpenseBucketsPrev" resultType="com.finsight.domain.model.KeyValue">
        select round(sum(abs(t.balance_money))) as `value`, bucket as `key`
        from (
             select c.balance_money,
             case
                 when (cat.txn_types like '%invest%' or cat.parentId = 'INVEST' or cat.code like 'INVEST%') then 'investment'
                 when (cat.parentId = 'FIXED' or cat.code like 'FIXED%') then 'fixed'
                 when (cat.parentId = 'SHOPPING' or cat.code like 'SHOPPING%') then 'shopping'
                 when (cat.parentId = 'ENT' or cat.code like 'ENT%') then 'entertainment'
                 when (cat.parentId = 'EDU' or cat.code like 'EDU%') then 'edu'
                 when (cat.parentId = 'OTHER' or cat.code like 'OTHER%') then 'other'
                 when (cat.parentId = 'LIVING' or cat.code like 'LIVING%') then 'life'
                 else 'life'
             end as bucket
             from transaction c
             left join consume_category cat on cat.code = c.consume_code and cat.deleted != 1
             where 1 = 1
             and cat.txn_types like '%expense%'
             and year(c.transaction_date) = (#{year,jdbcType=NUMERIC} - 1)
        ) t
        group by bucket
    </select>

    <!-- Home summary: total income by year -->
    <select id="sumIncomeByYear" resultType="java.lang.Double">
        select round(sum(
            coalesce(
                case when (coalesce(t.income_money,0) &lt;&gt; 0) then t.income_money
                     when (cat.parentId = 'INC' or cat.code like 'INC%') then t.balance_money
                     else 0 end
            ,0)
        ))
        from transaction t
        left join consume_category cat on cat.code = t.consume_code and cat.deleted != 1
        where year(t.transaction_date) = #{year,jdbcType=NUMERIC}
    </select>

    <!-- Home summary: debt-related payments (repayments/loans) by year -->
    <select id="sumDebtPaymentsByYear" resultType="java.lang.Double">
        select round(sum(abs(t.balance_money)))
        from transaction t
        left join consume_category cat on cat.code = t.consume_code and cat.deleted != 1
        where year(t.transaction_date) = #{year,jdbcType=NUMERIC}
          and (
              cat.parentId = 'LIABILITY'
              or cat.code like 'LIABILITY-%'
              or cat.code in ('FIN-14','FIN-15')
              or t.transaction_desc like '%还款%' or t.transaction_desc like '%贷款%'
          )
    </select>

    <!-- Home summary: refund count heuristic by year -->
    <select id="countRefundsByYear" resultType="java.lang.Integer">
        select count(1) from transaction t
        where year(t.transaction_date) = #{year,jdbcType=NUMERIC}
          and (t.transaction_desc like '%退款%' or t.demoarea like '%退款%')
    </select>
</mapper>
